<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
    <meta charset="UTF-8">
	<link rel="icon" href="static/image/favicon.ico" type="image/x-icon">
    <title>{{ gettext('DongXingTu - Change Password') }}  </title>
		<style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 5px;
        }
		</style>
	{% include 'styles.html' %}
</head>
<body>
	{% include 'navbar.html' %}
    <h1>{{ gettext('Change Password') }} </h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    {% if success %}
        <p style="color: green;">{{ success }}</p>
    {% endif %}
    <form method="post">
        <label for="old_password">{{ gettext('Old Password') }}:</label>
        <input type="password" id="old_password" name="old_password" required><br>
        <label for="new_password">{{ gettext('New Password') }}:</label>
        <input type="password" id="new_password" name="new_password" required><br>
        <input type="submit" value="{{ gettext('Change Password') }} ">
    </form>
</body>
</html>
